@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
}

.box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    width: 600px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;

}

.form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-weight: 500;
}

label {
    text-align: left;
}

input {
    position: relative;
    width: 100%;
    margin: .7rem 0;
    padding: .7rem 1rem;
    border-radius: 50px;
    border: none;
}

.data_nasc {
    width: 150px;
}

.sexo {
    width: 300px;
}

::placeholder {
    font-weight: 500;
}

button {
    margin: 1rem auto 0;
    padding: .7rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: red;
    color: white;
    transition: .5s all;
}